*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(233, 227, 238);

}

.container{
    text-align: center;
    background-color: white;
    padding: 20px;
    
}

button{
    color:white;
    padding: 10px;
    margin: 10px;
}

#get{
    background-color: green;

}

#clear{
    background-color: rgb(219, 63, 63);
}
.c1{
    height: 50px;
    background-color: rgb(230, 236, 237);
    padding: 50px;
}